source https://chocolatey.org/api/v2

nuget curl

github adoprog/Sitecore-PowerCore Framework/DBUtils/DBUtils.psm1

source https://nuget.org/api/v2

nuget pester
nuget Microsoft.Web.Xdt


source https://teamcity.unic.com/httpAuth/app/nuget/v1/FeedService.svc/ username: "%PAKET_USER%" password: "%PAKET_PASSWORD%"

nuget Unic.Bob.Keith
nuget Unic.Bob.Config Prerelease
nuget Unic.Bob.Rubble 1.1.0-flexiblepattern0012
nuget Unic.Bob.Skip 1.2.0-scmbob-585-0004

