
github adoprog/Sitecore-PowerCore Framework/DBUtils/DBUtils.psm1

source https://nuget.org/api/v2

nuget Pester
nuget Microsoft.Web.Xdt
nuget Unic.Bob.Keith
nuget Unic.Bob.Wendy
nuget Unic.Bob.Skip
nuget Unic.Bob.Rubble

source https://ci.appveyor.com/nuget/bob-scratch-scfufa9ojkqo

nuget Unic.Bob.Scratch

group chocolatey
  source https://chocolatey.org/api/v2
  nuget curl
